.hidden-slot
  position: absolute
  opacity: 0
  height: 0
  overflow: hidden
  pointer-events: none
  *
    width: 0
    height: 0

.html-constraste-activo
  .header, .contenedor-principal, .barra-avance
    filter: invert(100%)
    img, iframe
      filter: invert(100%)

//Fondo tarjeta de texto
.fondo3-t3
  background: linear-gradient(to bottom, #FFF, #F8FBF4, #FFF)
  margin-inline: -3rem
  @media screen and (max-width: $bp-max-sm)
    margin-inline: -1.5rem